version: '3.8'

services:
  mongodb:
    image: mongo:6
    container_name: armazenaai-mongodb
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    environment:
      MONGO_INITDB_DATABASE: armazenaai

  api:
    build: ./api
    container_name: armazenaai-api
    restart: always
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
      - MONGODB_URI=mongodb://mongodb:27017/armazenaai
      - JWT_SECRET=uma_chave_super_secreta_aqui
      - JWT_EXPIRES_IN=1h
      - SALT_ROUNDS=10
      - NODE_ENV=production
    depends_on:
      - mongodb
    volumes:
      - ./api:/app
      - /app/node_modules

  web:
    build: ./web
    container_name: armazenaai-web
    restart: always
    ports:
      - "80:80"
    depends_on:
      - api

volumes:
  mongodb_data:
